* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
}

body {
  background-image: url("./assets/images/tiling_bg.jpg");
}

.app-container {
  z-index: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 30px;
  background: linear-gradient(
    60deg,
    hsla(252, 52%, 47%, 0.9) 0%,
    hsla(187, 100%, 38%, 0.9) 100%
  );
}

a {
  color: hsla(187, 100%, 30%, 1);
}

a:active {
  color: hsla(290, 52%, 47%, 1);
}

a:visited {
  color: hsla(230, 52%, 47%, 1);
}

/********* Header *********/
header {
  background: linear-gradient(
    60deg,
    hsla(252, 52%, 37%, 0.5) 0%,
    hsla(187, 100%, 33%, 0.5) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.96);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 18px 7px hsla(0, 0%, 100%, 0.1);
  -moz-box-shadow: 0px 0px 18px 7px hsla(0, 0%, 100%, 0.1);
  box-shadow: 0px 0px 18px 7px hsla(0, 0%, 100%, 0.1);
}

header h1 {
  font-weight: 400;
}
header .header-left {
  float: left;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

header img {
  height: 70px;
}
header ul {
  margin: 0;
}
header h1 {
  display: inline-block;
}

/********* Navigation *********/
nav {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

ul {
  padding-inline-start: 40px;
  padding: 0;
  margin-top: 0;
}

nav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}

nav a {
  padding: 0.3em 0;
  color: hsla(0, 0%, 100%, 0.8);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

nav a:visited {
  color: hsla(0, 0%, 100%, 0.8);
}

nav a:active {
  color: hsla(290, 52%, 47%, 1);
}

nav a:before,
nav a:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
  background-color: hsla(0, 0%, 100%, 0.2);
  width: 0;
}

nav .current a:before,
nav .current a:after {
  background-color: hsla(0, 0%, 100%, 0.4);
}

nav a:before {
  top: 0;
  left: 0;
}

nav a:after {
  bottom: 0;
  right: 0;
}

nav a:hover,
nav .current a {
  color: white;
}

nav a:hover:before,
nav .current a:before,
nav a:hover:after,
nav .current a:after {
  width: 100%;
}

/********* Page *********/
.page-wrapper {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex: 1;
}

.page-container {
  max-width: 2000px;
  display: flex;
  flex: 1;
}

.content-column {
  flex: 1;
  max-width: 80%;
}

.fun-column {
  position: fixed;
  display: flex;
  width: 20%;
  right: 5%;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  max-width: 400px;
  max-height: 400px;
}

.fun-column img {
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  transition: transform 0.3s ease;
}

/********* Posts (content containers) *********/
.post {
  position: relative;
  background: hsla(0, 0%, 100%, 0.96);
  border-radius: 8px;
  width: 80%;
  margin: 30px;

  -webkit-box-shadow: 0px 0px 9px -2px hsla(0, 0%, 0%, 0.3);
  -moz-box-shadow: 0px 0px 9px -2px hsla(0, 0%, 0%, 0.3);
  box-shadow: 0px 0px 9px -2px hsla(0, 0%, 0%, 0.3);
}

/* This is used to fix a bug in IOS safari that ignores bottom page margin */
.post:after {
  height: 50px;
  content: "";
  position: absolute;
  bottom: -50px;
  width: 100%;
}
.post .post-banner img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}
.post .post-content {
  padding: 10px 20px;
}

.post .post-content ul {
  padding: 0;
  margin-left: 0;
}

.post .post-content li {
  margin: 1em 10px 1em 30px;
}

.post .post-content ul.no-bullets {
  list-style-type: none;
}

.post .post-content ul.no-bullets li {
  margin: 1em 10px 1em 0;
}

.post .post-content ul.no-bullets li:first-child {
  margin-top: 0;
}

.code {
  font-family: monospace;
  font-size: 1.25em;
}

td {
  vertical-align: top;
  padding: 1em;
}

h2,
h3 {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

h2:before,
h3:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 40%;
  left: 0;
  border-bottom: 2px solid hsl(220, 52%, 47%);
}

h3:before {
  border-bottom: 2px solid hsl(200, 52%, 47%);
  width: 25%;
}

h4 {
  display: inline-block;
  margin-bottom: 1em;
}

/********* Animations *********/

/** swing - used to make element bounce **/
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.swing:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

/** waves **/
.waves-container {
  opacity: 0.8;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 35s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 17s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 23s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 40s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/********* Small Screen Adaptations *********/
@media only screen and (max-width: 600px) {
  header {
    padding-bottom: 10px;
    flex-wrap: wrap;
  }
  header .header-left {
    border-bottom: 5px solid hsla(0, 0%, 100%, 0.1);
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    flex: 0 0 auto;
  }
  nav {
    justify-content: center;
  }
  nav li {
    margin: 0.5em 0.5em;
  }
  .content-column {
    max-width: 100%;
  }
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .post {
    margin: 30px auto;
  }
  .fun-column {
    display: none;
  }
}
